<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :publication_id %>
    <%= form.select "publication_id", Publication.all.collect {|p| [ p.name, p.id ] }, { include_blank: false } %>
  </div>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.select "work_id", @works.collect {|w| [ w.title, w.id ] }, { include_blank: false } %>
  </div>

  <div class="field">
    <%= form.label :submitted_on %>
    <%= form.date_select :submitted_on %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select "state", Submission::STATES, { include_blank: false } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
